<footer class="app-footer bg-white text-center text-muted py-3 border-top mt-auto">
    <div class="container">
        &copy; 2025 - <strong>ClinicaPro</strong> - <a asp-controller="Home" asp-action="Privacy" class="text-decoration-none">Política de Privacidade</a>
    </div>
</footer>
